version: '3.3'

services:
  db_martelleur.online:
    container_name: db_martelleur.online
    image: {{ registry }}/{{ db_name }}:{{ db_version }}
    ports:
      - "3307:3306"
    networks:
      - {{ net }}
    env_file:
      - ./env/.db_martelleur.online.env
    volumes:
      - {{ volume }}:/bitnami/mysql/data
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      retries: 5
    restart: always

  martelleur.online:
    container_name: martelleur.online
    image: {{ registry }}/{{ app_name }}:{{ app_version }}
    command: ["./start-app.sh"]
    ports:
      - "3000:3000"
    networks:
      - {{ net }}
    env_file:
      - ./env/.martelleur.online.env
    depends_on:
      - db_martelleur.online
    restart: always

networks:
  {{ net }}:
    external: true

volumes:
  {{ volume }}:
    external: true
