/*
TODO 
--------------------------------------------------------------
Rename to CONSTANT_TEXT_LIGHT, CONSTANT_BACKGROUND_LIGHT, etc.
These values are used when a color or font should be static and
not changed when themes and fonts are updated by the user.
---------------------------------------------------------------
*/

:root {
    /* Primary */
    --primary-text: #ffffff;
    --primary-text-dark: #1a1a1a;
    --primary-text-dark-extra: #000000;
    --primary-background-light: #ffffff;
    --primary-background-medium: #333333;
    --primary-background-dark: #222222;
    --primary-background-dark-extra: #000000;
    --primary-link-text: #ffffff;
    --primary-link-hover: #008cba;
    --primary-link-active: #008cba;
    --primary-button-appealing: #ff5733;
    --primary-button-appealing-hover: #FF6F50;
}
  