*, ::before, ::after {
  box-sizing: border-box;
}

body, #root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}


@media (max-width: 700px) {
  body, #root {
    height: 250vh;
  }
}

@media (max-height: 500px) {
  body, #root {
    height: 300vh;
  }
}
